<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN MAIN PAGE</title>
</head>
<body>

<table id="dataTable">
    <thead>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>contents</th>
        <th>regDate</th>
    </tr>
    </thead>
    <tbody>
    <tr>

    </tr>
    <!--<tr th:each=" : ${userList}">
        <td th:text="${user.email}">emil</td>
        <td th:text="${user.fullNmKr}">name</td>
        <td th:text="${user.userStatCd}">stat</td>
        <td th:text="${user.superUser}">super</td>
    </tr>-->
    </tbody>
</table>


</body>
</html>